<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to THE Podcast</p>
    </div>
    <div>
      <a href="/users/login"><button>Login</button></a>
      <a href="/users/signup"><button>Signup</button></a>
    </div>
  </header>
</html>
